/* Collapsible folders */
.collapsible {
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  font-size: 1.2em;
  border-radius: 6px;
}
.collapsible:hover {
  background-color: #333;
}
.category-thumb {
  width: 100px;
  border-radius: 6px;
}
.category-title {
  font-size: 1.4em;
  color: #ff4081;
}
.content {
  display: none;
  padding: 15px 0;
}

/* Search bar */
.search-container {
  text-align: center;
  margin: 20px;
}
#searchInput {
  padding: 10px;
  width: 50%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 10px;
}
.pagination a {
  color: #fff;
  background-color: #1a1a1a;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ff4081;
  transition: background-color 0.3s;
}
.pagination a.active {
  background-color: #ff4081;
  color: #fff;
}
.pagination a:hover {
  background-color: #333;
}